.omni-form{
	line-height: 1.33875;
	display: inline-block;
	width: 100%;
	padding: 0 0.9375rem;
	margin-top: 1.3125rem;
	&.no-padding{
		padding: 0;
	}
	&.no-margin{
		margin:0;
	}
	.omni-form-label{
		width: 100%;
		text-transform: uppercase;
		.omni-form-popover{
			text-transform: initial;
		}
		.form-tooltip{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
			cursor: pointer;
			outline: none;
			-webkit-tap-highlight-color: transparent;
			min-width: 0;
			position: relative;
			z-index: 1;
			width: 1.125rem;
    		height: 1.125rem;
    		margin-left: 0.125rem;
			border-radius: 50%;
			&::after{
				border: none;
				opacity: 0;
				content: '';
				position: absolute;
				transition-duration: .15s;
				transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
				transform: translate(-50%, -50%) scale(0);
				transition-property: transform,opacity;
				bottom: 0;
				left: 50%;
				right: 0;
				top: 50%;
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 50%;
			}
			&:hover::after{
				background-color: rgba(122,161,189,.16);
				border: none;
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
.omni-form-grp{
	margin-bottom: 1.125rem;
	position: relative;
	&.margin-b0{
		margin-bottom: 0;
	}
	.error-msg{
		font-size: 0.75rem;
    	line-height: 1;
    	margin-top: 0.25rem;
    	margin-bottom: 0.125rem;
	}
}