@import '../common/colors.scss';

.feedback {
    display: block;
    width: 100%;
    font-size: .75rem;
    margin-top: .25rem;
    color: $gray-dark;
    &.valid {
        color: $success;
    }
    &.invalid {
        color: $error;
    }
    &.alert {
        color: $alert;
    }
    &.helper {
        color: $helper;
    }
}