@import '../common/colors.scss';

.form-label {
    display: inline-block;
    font-size: 0.75rem;
    color: #7A8994;
    margin-bottom: .375rem;
    &.valid {
        color: $success;
    }
    &.invalid {
        color: $error;
    }
    &.alert {
        color: $alert;
    }
}