@import '../../src/common/colors.scss';

@mixin colorUpdate($color) {
    .custom-check-box{
        &:checked + .label-tag{
            .label-span{
                border: 1px solid $color;
                background: $color;
                &:before {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
            }
        }
        &:indeterminate,
        &.indeterminate{
            + .label-tag{
                .label-span{
                    background: $color;
                    &:before {
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    }
                }
            }
        }
    }
}
.custom-checkbox{
    display: flex;
    cursor: pointer;
    height: 2.5rem;
    margin-bottom: 0;
    &.has-label{
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    &.input-disabled{
        pointer-events: none;
    }
    &.label-before {
        .label-holder{
            order: 1;
            margin-left: 10px;
            margin-right: 0;
        }
        .label-tag{
            justify-content: space-between;
        }
    }
    &.indeterminate-checked-animation{
        .svg-holder{
            -webkit-animation: checkbox-indeterminate-checked .5s linear 0s;
            animation: checkbox-indeterminate-checked .5s linear 0s;
        }
    }
    .hover-over{
        position: absolute;
        min-width: 2.25rem;
        min-height: 2.25rem;
        left: -.625rem;
        top: -.625rem;
    }
    .svg-holder{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .svg-path {
        stroke: #fff;
        stroke-linecap: round;
        stroke-width: 3px;
        stroke-dashoffset: 29.7833385;
        stroke-dasharray: 29.7833385;
    }
    .checked-path{
        -webkit-transition: stroke-dashoffset 200ms 0ms cubic-bezier(0, 0, 1, -0.15);
        -o-transition: stroke-dashoffset 200ms 0ms cubic-bezier(0, 0, 1, -0.15);
        transition: stroke-dashoffset 200ms 0ms cubic-bezier(0, 0, 1, -0.15);
        
    }
    .partial-selection{
        opacity: 0;
        stroke-dashoffset: 0;
        -webkit-animation-duration: 180ms;
        animation-duration: 180ms;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .custom-check-box{
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
        margin: 0;
        &:checked{
            + .label-tag{
                .svg-path{
                    stroke-dashoffset: 0;
                }
                .partial-selection{
                    opacity: 0;
                }
            }
        }
        &:indeterminate ,&.indeterminate{
            + .label-tag{
                .label-span{
                    color: #FFF;
                    font-size: 1rem;
                    border: none;
                }
                .partial-selection{
                    opacity: 1;
                    -webkit-animation: expand-from-centre 180ms cubic-bezier(0.4, 0, 0.6, 1) forwards;
                    animation: expand-from-centre 180ms cubic-bezier(0.4, 0, 0.6, 1) forwards;
                }
                .checked-path{
                    opacity: 0;
                }
            }
        }
        &[disabled] + label {
            opacity: .5;
        }
    }
    .label-tag{
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        font-size: 0.875rem;
        color: #333333;
        z-index: 1;
        transition: color 250ms cubic-bezier(.4,.0,.23,1);
        .label-span{
            z-index: 1;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 1rem;
            height: 1rem;
            flex: 0 0 1rem;
            cursor: pointer;
            background: #1390d3;
            border-radius: 3px;
            transition: border 80ms ease-out;
            // overflow: hidden;
            border: 1px solid #d7dcdf;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -1px;
                left: -1px;
                right: 0;
                bottom: 0;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                background: #FFFFFF;
                border: 1px solid #d7dcdf;
                border-radius: inherit;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 80ms;
                transition-duration: 80ms;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
        }
        &.circle-label{
            .label-span {
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 50%;
                flex: 0 0 1.25rem;
            }
            .hover-over{
                position: absolute;
                min-width: 2.25rem;
                min-height: 2.25rem;
                left: -.5rem;
                top: -.5rem;
            }
            .svg-holder{
                width: calc(100% - .25rem);
                top: 0.125rem;
                left: 0.125rem;
            }
        }
    }
    .label-holder{
        position: relative;
        margin-right: 10px;
    }
    &.primary {
        @include colorUpdate($primary-regular);
    }
    &.omni {
        @include colorUpdate($primary-omni);
    }
    &.website {
        @include colorUpdate($primary-website);
    }
    &.retail {
        @include colorUpdate($primary-retail);
    }
    &.justdial {
        @include colorUpdate($primary-justdial);
    }
    @media (max-width: 992px) {
        & {
            height: 12.5vw;
		    max-height: 2.8125rem;
        }
    }
}

@-webkit-keyframes checkbox-indeterminate-checked {
    from {
      -webkit-animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
              animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      opacity: 0;
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 1;
    }
}
@keyframes checkbox-indeterminate-checked {
    from {
      -webkit-animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
              animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      opacity: 0;
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 1;
    }
}
@-webkit-keyframes expand-from-centre
{
    from {
        stroke-dasharray: 0 10;
        stroke-dashoffset: -5;
    }
    to {
        stroke-dasharray: 10 10;
        stroke-dashoffset: 0;
    }
}

@keyframes expand-from-centre {
    from {
        stroke-dasharray: 0 10;
        stroke-dashoffset: -5;
    }
    to {
        stroke-dasharray: 10 10;
        stroke-dashoffset: 0;
    }
}