.root {
	padding: 40px 30px;
	background-color: #f4f6f8;
}
.aboutGrid {
	text-align: center;
}
.heading {
	color: #212b36;
	font-size: 24px;
	margin-bottom: 20px;
}
.info {
	color: rgb(99, 115, 129);
}
.skillItem {
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(145 158 171 / 16%) 0px 24px 48px 0px;
	padding: 20px;
	border-radius: 10px;
	height: 100%;
}
