.root {
	overflow: hidden;
	padding: 40px 30px;
	background-color: #f4f6f8;
}
.aboutGrid {
	text-align: center;
}
.heading {
	color: #212b36;
	font-size: 24px;
	margin-bottom: 20px;
}
.info {
	color: rgb(99, 115, 129);
}
.skillItem {
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(145 158 171 / 16%) 0px 24px 48px 0px;
	padding: 20px;
	border-radius: 10px;
	height: 100%;
}
.hexBox {
	display: block;
	margin: 30px 0;
	position: relative;
	width: 320px;
	height: 277.12px;
	box-sizing: border-box;
	-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}
.aboutMeImg {
	width: 100%;
}
.aboutMeSection {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	@media (max-width: 920px) {
		text-align: center;
	}
}
.aboutInfo {
	flex-basis: 50%;
	padding: 30px;
}
.subHeading {
	font-size: 22px;
	font-weight: 700;

	margin-bottom: 30px;
	color: #212b36;
}
.para {
	line-height: 1.5;
}
