$colors: #2c98f0, #ec5453, #f9bf3f, #a84cb8, #2fa499, #4054b2;
@mixin color() {
    @for $i from 1 to length($colors){
        .progress-bar.color-#{$i} {
            background: nth($colors , $i);
            &:after {
                background: nth($colors , $i);
            }
            span {
                color: nth($colors , $i);
            }
        }
    }
}
.skill-row{
    & > [class*="col-"]{
        &:nth-child(odd){
            padding-right: 15px;
        }
        &:nth-child(even){
            padding-left: 15px;
        }
    }
}
.progress {
    height: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f2f3f7;
    overflow: visible;
}
.progress-bar {
    background: #2c98f0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000;
    font-weight: 600;
    text-align: right;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    height: 100%;
    &:after {
        position: absolute;
        top: -2px;
        right: 0;
        width: 10px;
        height: 10px;
        content: '';
        background: #2c98f0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%
    }
    span {
        position: absolute;
        top: -22px;
        right: 0
    }
}
@include color();