.content-wrapper{
    text-align: center;
    padding-bottom: 30px;
}
.title{
    font-weight: 500;
    font-size: 45px;
    position: relative;
    display: inline-block;
    &:before, &:after{
        height: 2px;
        background: #333333;
        content: " ";
        display: inline-block;
        margin: 0 10px;
        position: absolute;
        top: 50%;
        width: 80px;
    }
    &.light{
        &:before, &:after{
            background: #ffffff;
        }
    }
    &:before{
        right: 100%;
    }
    &:after{
        left: 100%;
    }

}
